# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.log
*.cover
.coverage*
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Environments
.venv/
venv/
ENV/
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# Data/Models
models/
/data/
logs/

# Node/Dash
node_modules/
